<!DOCTYPE html>
<html lang="en">
  <head>
     <% include ./partials/head.ejs %>
  </head>
  <body>

      <!-- Navigation -->
       <% include ./partials/navbar.ejs %>

      <!-- Page Content -->
      <main class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
          <h1 class="display-3">About Us</h1>
          <p class="lead">This is a site for you to share your thoughts with the world. Whether it's a meme, poem, or just a story about how your day was, we are excited to read your content. Our users can provide feedback as well, voting their favorite posts, and voting as well. What are you waiting for? Get writing!</p>
        </header>

      </main>
      <!-- /.container -->

      <% include ./partials/baseScripts.ejs %>

    </body>
</html>
